@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quia animi explicabo atque necessitatibus voluptas cum tempora fugiat ea excepturi quod deleniti blanditiis iure sed quidem ipsam repellendus, quae eius a! Atque, enim. Consequatur modi, rem, nesciunt quos provident cumque at corrupti eum repellat omnis non obcaecati molestiae facilis placeat maiores iure iste accusantium exercitationem et. Blanditiis recusandae iste soluta neque dolorem voluptatibus eum esse autem, modi unde! Pariatur provident nemo, ratione sed fugit est consequuntur voluptatum excepturi, quia illum harum eius recusandae cumque ullam repellendus sequi ducimus asperiores iusto labore corporis unde reiciendis maxime voluptas. Saepe reiciendis molestiae, quod quia officia ipsam sequi ex laborum vitae fugiat quidem nesciunt necessitatibus voluptates incidunt, praesentium ipsum labore aspernatur reprehenderit laudantium velit voluptatem blanditiis cupiditate. Accusantium consectetur nam officia omnis eius sapiente maxime molestiae perferendis atque? Perferendis, inventore possimus culpa tempore doloribus ea, dolor mollitia explicabo atque obcaecati quos ut quisquam molestiae ab dolores ad? Optio exercitationem pariatur nulla non at perspiciatis quia ab natus nihil veritatis similique dolores saepe consequatur, assumenda ad tempore commodi praesentium excepturi minima vero. Asperiores debitis, repudiandae corporis laudantium neque earum minus, quia ea quae rem porro non quos dolorum delectus harum numquam ut nisi itaque corrupti!
    </h1>

    <canvas class="tracker" width="600" height="600"></canvas>

    <h1>Lorem, ipsum dolor.<canvas class="tracker" width="600" height="600"></canvas></h1>
</div>
